<!DOCTYPE html>
<html>
  <head>
    <title>Maestro Chess Engine</title>
    <!-- External Scripts -->
    <!-- Jquery -->
    <script src="../static/scripts/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="../static/scripts/bootstrap.min.js"></script>
    <script src="../static/scripts/bootstrap.bundle.min.js"></script>
    <!-- Chessboard.js -->
    <script src="../static/scripts/chessboard-1.0.0.min.js"></script>
    <!-- Chess.js -->
    <script src="../static/scripts/chess.js"></script>

    <!-- External Styles -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/style/bootstrap.min.css" />
    <!-- Chessboard.js -->
    <link rel="stylesheet" href="../static/style/chessboard-1.0.0.min.css" />
    <!-- Custom Styles -->
    <link rel="stylesheet" href="../static/style/style.css" />
  </head>
  <body>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                  <!-- chess board view -->
                  <div id="chess_board" class="mx-auto mb-2" style="width: 400px;"></div>
              
                  <!-- game controls -->
                  <div class="row mx-auto mb-2" style="width: 400px;">
                    <!-- game status -->
                    <strong class="mx-auto mb-2"><div id="status"></div></strong>

                    <!-- FEN -->
                    <div class="input-group mb-3">
                      <input id="fen" type="text" class="form-control">
                      <div class="input-group-append">
                        <button id="set_fen" class="btn btn-outline-success">Set FEN</button>
                      </div>
                    </div>
                    
                    <!-- strength controls -->
                    <div class="input-group mb-3">
                      <select id="move_time" class="form-control mr-2">
                        <option value="0">N/A</option>
                        <option value="instant" selected>Instant response</option>
                        <option value="1">1 sec</option>
                        <option value="2">2 sec</option>
                        <option value="3">3 sec</option>
                        <option value="4">4 sec</option>
                        <option value="5">5 sec</option>
                        <option value="6">6 sec</option>
                        <option value="7">7 sec</option>
                        <option value="8">8 sec</option>
                        <option value="9">9 sec</option>
                        <option value="10">10 sec</option>
                      </select>   
                      <select id="fixed_depth" class="form-control ml-2">
                        <option value="0">N/A</option>
                        <option value="1">1 ply</option>
                        <option value="2">2 ply</option>
                        <option value="3">3 ply</option>
                        <option value="4">4 ply</option>
                        <option value="5">5 ply</option>
                        <option value="6">6 ply</option>
                        <option value="7">7 ply</option>
                        <option value="8">8 ply</option>
                        <option value="9">9 ply</option>
                        <option value="10">10 ply</option>
                        <option value="11">11 ply</option>
                        <option value="12">12 ply</option>
                      </select>
                    </div>
                    
                    <!-- -buttons -->
                    <div class="btn-group">
                      <button id="new_game" class="btn btn-outline-secondary">New game</button>
                      <button id="make_move" class="btn btn-outline-secondary">Make move</button>
                      <button id="take_back" class="btn btn-outline-secondary">Take back</button>
                      <button id="flip_board" class="btn btn-outline-secondary">Flip board</button>
                    </div>
                    
                  </div>
                </div>
                <div class="col ml-4">
                  <!-- engine info -->
                  <div class="row mx-auto">    
                    <div class="col-8">  
                      <p class="lead font-weight-normal mt-3">
                      <strong>Maestro Chess Engine + SF NNUE </strong>
                      <br>
                      UCI chess engine by 0mn1verze
                      </p>
                    </div>
                  </div>
                  
                  <hr>
                  
                  <!-- info
                  <div class="row mx-auto mt-2">
                    <small class="mx-auto">
        
                    </small>
                  </div> -->
                  
                  <!-- game info -->
                  <table class="table text-center mt-4">
                    <thead>
                      <tr>
                        <th>Score</th>
                        <th>Depth</th>
                        <th>Time</th>
                        <th>Nodes</th>
                        <th>Knps</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong id="score" class="text-danger"></strong></td>
                        <td id="depth"></td>
                        <td id="time"></td>
                        <td id="nodes"></td>
                        <td id="knps"></td>
                      <tr>
                    </tbody>
                  </table>
                  
                  <hr>
                  
                  <!-- PGN output -->
                  <div class="mt-2"><strong>PGN:</strong></div>
                  <div id="pgn"></div>
                  
                  <!-- download button -->
                  <button id="download_button" class="btn btn-success mt-2">Download</button>
                  
                  <!-- download link -->
                  <a id="download_link" href="" download="" hidden>your pgn</a>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <!-- links -->
              <div class="input-group mt-2 mb-3">
                <a href="https://github.com/0mn1verze/Maestro-Chess-Engine" class="btn btn-primary mx-auto ml-2">Maestro Source Code!</a>
                <p>Website code from Maksim Korzh's chess engine project</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../static/scripts/script.js"></script>
</html>
